@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Inline:opsz,wght@10..72,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #dedfda;

}

html,
body {
    height: 100%;
    width: 100%;
}

.frame {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: space-between;

}

.frame>section {
    margin-right: 5%;
    width: 50vw;

}

.frame>.foto img {
    width: 40vw;
}



h1 {
    color: #ff2121;
    font-family: "Big Shoulders Inline", sans-serif;
    font-size: 150px;
    font-weight: 400;
    text-decoration: none;
    margin-top: 2%;

}

h2 {
    margin-top: 3%;
    color: #000000;
    font-family: "Oswald", sans-serif;
    font-size: 48px; 
    font-weight: 400;
}

/*------------------------------*/
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.inputfield {
    display: flex;
    align-items: center;
    gap: 20px;
    text-decoration-style: none;
    margin-top: 3%;
    

    &>#ddi {
        width: 60px;
        flex: none;
    }

    &>#numero {
        width: 670px;
        flex: none;
    }

}

.inp{
    font-size: 18px;
    font-family: "Poppins", sans-serif;
}

.informações input[type="checkbox"] {
    width: auto;
}

.informações p:first-child{
    color: #706e6e;
    margin-bottom: 3%;
    margin-top: 3%;
    font-family: "Poppins", sans-serif;
}


input {
    width: 750px;
    background: none;
    background: transparent;
    border: none;
    border-bottom: 2px solid black;
    outline: none;
    text-decoration: none;
}

.informações {
    font-family: "Poppins", sans-serif;

}

/*------------------botoes---------------------------------*/



.btn-primary {
    font-family: "Poppins", sans-serif;
    width: 35%;
    height: 50px;
    border: none;
    background: #ff2121;
    color: #fff;
    font-weight: 600;
    text-transform: uppercase;
    transition: all 800ms ease-in-out;
    margin-top: 5%;
    margin-left: 3%;
}

.btn-primary:hover {
    background: white;
    color: #ff2121;
    border: 1px solid #ff2121;
    cursor: pointer;
}

.btn-second {
    font-family: "Poppins", sans-serif;
    width: 35%;
    height: 50px;
    border: none;
    background: white;
    color: #ff2121ff;
    font-weight: 600;
    text-transform: uppercase;
    border: 1px solid #ff2121;
    transition: all 800ms ease-in-out;
    margin-left: 2%;
}

.btn-second:hover {
    background: #ff2121;
    color: white;
    border: 1px solid white;
    cursor: pointer;
}